@use "util" as u;

:root {
  --c-white: #fffdfa;
  --c-dark: #00001a;
  --c-gray: #3f4051;
  --c-red: #f15d51;
  --c-silver: #afb0b5;
  --c-yellow: #e9aa52;

  --f-m: #{u.rem(24)};
  --f-s: #{u.rem(20)};
  --f-body: #{u.rem(16)};
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: var(--f-body);
  line-height: 1.7;
  color: var(--c-gray);
  // padding-block-end: 50vh; // 記得拿掉
}

h1,
h2,
h3 {
  color: var(--c-dark);
  line-height: 1.1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: 150ms ease-in-out;
  transition-property: color, background-color;
  color: var(--c-silver);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

.container {
  width: min(u.rem(1110), calc(100% - u.rem(32)));
  margin-inline: auto;
  padding-bottom: 3em;
}

.noscroll {
  overflow-y: hidden;
}
