@use "../util" as u;

.header {
  padding-block: u.rem(16);
  background: var(--c-red);
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: u.rem(8);
  }
  &__title {
    font-size: var(--fs-m);
    color: var(--c-white);
  }
}
