@use "util" as u;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 20px;
  max-width: 50em;
  margin-inline: auto;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}
