@use "../util" as u;

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: u.rem(20);
  overflow-x: auto;
}

.card {
  width: u.rem(180);
  font-size: u.rem(12);
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  &--image {
    width: 100%;
    border-radius: u.rem(8);
    margin-bottom: u.rem(8);
  }
  &--title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--stats {
    display: flex;
    align-items: center;
  }

  &--star {
    height: u.rem(14);
  }

  &--price {
    margin-top: auto;
  }

  &--badge {
    position: absolute;
    top: u.rem(8);
    left: u.rem(8);
    background-color: white;
    padding: u.rem(6) u.rem(8);
    border-radius: 2px;
    font-weight: bold;
  }
}
